<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.code.modules.sysInfo.dao.SysUserMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.demo.code.modules.sysInfo.entity.SysUser">
                    <id column="id" property="id"/>
                    <result column="login_name" property="loginName"/>
                    <result column="chinese_name" property="chineseName"/>
                    <result column="english_name" property="englishName"/>
                    <result column="avatar" property="avatar"/>
                    <result column="email" property="email"/>
                    <result column="password" property="password"/>
                    <result column="age" property="age"/>
                    <result column="gender" property="gender"/>
                    <result column="role" property="role"/>
                    <result column="create_name" property="createName"/>
                    <result column="update_name" property="updateName"/>
                    <result column="create_time" property="createTime"/>
                    <result column="update_time" property="updateTime"/>
                    <result column="deleted" property="deleted"/>
        </resultMap>
        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
            id,login_name,chinese_name,english_name,avatar,email,password,age,gender,role, create_name, update_name, create_time, update_time
        </sql>

</mapper>


